
body {  
	width:inherit;
	margin-left:20%;
	margin-right:20%;
	margin-top:30px;
}
.optionBlock {
	width: 50%;
	height: 100px;
	border-style: solid;
	border-width: .2px;
	border-color: black;
}
#clickOne {
	width: 30%;
	height: 100px;
	border-style: solid;
	border-width: .2px;
	border-color: black;
}
#clickTwo {
	width: 30%;
	height: 100px;
	border-style: solid;
	border-width: .2px;
	border-color: black;
}
#clickThree {
	width: 30%;
	height: 100px;
	border-style: solid;
	border-width: .2px;
	border-color: black;
}
#optionOne {

}
#optionTwo {

}
#optionThree {
	
}
#submit {
	width: 80%;
	height: 50px;
	border-style: solid;
	border-width: .2px;
	border-color: black;
}

.optionBlock a {
	font-size:20px;
}

button a:hover {
	background: blue;
}
button a {
	;
}